<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Welcome to Bishnu's Portfolio</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">My primary aim is to become an innovative Java developer. My mission is to create a 
            standard desktop application so as to servicing dynamic users into a single plateform</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/about">Find Out More About Me</a>
        </div>
      </div>
    </div>
  </header>
