<section id="portfolio">
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb-4 text-center"> Major projects to come soon.</h2>
        </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="#" >
            <img class="img-fluid" src="../images/7.png" alt="Books Image">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Desktop Application for Online Book Store
                <br>
              <p>This project was developed in a team of 4 members,using C# .NET Framwork. It was one of the best accomplishment that allows book lovers to visit online book stores and purchase, pay, return or to cancel the purchase online. Deivery system is not a feature yet.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="#">
            <img class="img-fluid" src="../images/8.png" alt="Registration Image">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Android App for Student Registration Services
                <br>
              <p>An anroid application that allows students to log in and register for the courses available. They can select courses, pay online and allows admin to verify students registration. </p> 
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="#"><img class="img-fluid" src="../images/9.png" alt="childcare">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                 Toronto Childcare Information System
                <br>
              <p>It was a classroom project completed based on SDLC principles in a team as a requirement of COMP246. Later the project was developed as a desktop app for ASP.NET project as one of the successful accomplishment in .NET Framework </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
<!-- Call to Action Section -->
  <section class="page-section bg-default text-dark">
    <div class="container text-center">
      <a class="btn btn-primary btn-xl" href="/services">Click to Review available services!</a>
    </div>
  </section>