<section class="page-section" id="services">
    <div class="container-fluid">
      <h2 class="text-center mt-0">At Your Service</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img class="img-fluid" src="../images/android.png" alt="desktop-img">
            <h3 class="h4 mb-2">Desktop Application Development</h3>
            <p class="text-muted mb-0">I build desktop applications using c#, Java, .Net environments</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img class="img-fluid" src="../images/web.png" alt="web-img">
            <h3 class="h4 mb-2">Web Development</h3>
            <p class="text-muted mb-0">If you are looing for dynamic web application development, professional or personal sites, this is a right place and time to deal your business with me and my team.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img class="img-fluid" src="../images/android2.png" alt="android-img">
            <h3 class="h4 mb-2">Android Application Development and Maintainance</h3>
            <p class="text-muted mb-0">I offer professional services in maintining and developing apllication on android platform !</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
             <img class="img-fluid" src="../images/ba.png" alt="ba-img">
            <h3 class="h4 mb-2">Business and Quality Experties</h3>
            <p class="text-muted mb-0">I offer professional experties in software business analysis and software quality consultation in the production environments </p>
          </div>
        </div>
      </div>
    </div>
  </section>