<% include ./partials/header.ejs %>
  
  <!--<h1 class="display-4">Welcome to <%= title %> </h1> -->

  <!--Contents for Landing page/home page-->
      
  <% if (title == "Home"){%>  
    
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Welcome to Bishnu's Portfolio</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">My primary aim is to become an innovative Java developer. My mission is to create a 
            standard desktop application so as to servicing dynamic users into a single plateform</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/about">Find Out More About Me</a>
        </div>
      </div>
    </div>
  </header>

<%} %>
<% if (title == "About Me")
      {%>

  <div class="container-fluid p-5">
    <div class= "row">
        <div class="col-md-12">
            <div class="customDiv">
                <h4>Getting to know me. . . </h4>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
            <div class="customDiv">
              <h3>Perosnal Information</h3>
              <hr>
              <p>Name : Bishnu P. Khanal</p>
              <p>Mailing Address : </p> 
              <p>Apartment# 1705 - 283 Pharmacy Avenue </p>
              <p>Toronto, ON M1L3G1 </p>
              <p>Contact Methods: </p>
              <p>Phone: (647) 760-1545</p>
              <p>Email: bkhanal837@gmail.com</p>
            </div>
        </div>     
      </div>
      <div class="col-md-4">
          <div class="card">
              <div class="customDiv"><img src="../images/khanalBishnu.jpg " alt="my photo " height="400px"></div>
          </div>      
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <div class="card">
        <div class="customDiv">
        <p class="mb-4">Gained hands-on-experience working for an year for I+IT Cluster, Ontario Ministry of
          Children, Community and Social Services, as a Programmer Analyst as a co-op student.</p>
        <hr>
        <p><a class="btn btn-primary btn-xl" href="../assets/documents/resume_Bishnu_Khanal.pdf">Please Click Here to Review my Resume!</a> </p>
      </div>
      </div>
    </div>
  </div>

        
      <%} %>

      <!--Contents for Projects page-->
      <% if (title == "Projects")
      {%>
        <!-- Portfolio Section -->
      
  <section id="portfolio">
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb-4 text-center"> Major projects to come soon.</h2>
        </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="#" >
            <img class="img-fluid" src="../images/portfolio/fullsize/1.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Desktop Application for Online Book Store
                <br>
              <p>It was a classroom project completed in a team as a requirement of ASP.NET. Developed in C#, </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="#">
            <img class="img-fluid" src="../images/portfolio/fullsize/2.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Android App for Student Registration Services
                <br>
              <p>An anroid application that allows students to log in and register for the courses available. They can select courses, pay online and allows admin to verify students registration. </p> 
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="#"><img class="img-fluid" src="../images/portfolio/fullsize/3.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                 Desktop Application for Online Book Store
                <br>
              <p>It was a classroom project completed in a team as a requirement of ASP.NET. Developed in C#, </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
<!-- Call to Action Section -->
  <section class="page-section bg-default text-dark">
    <div class="container text-center">
      <a class="btn btn-primary btn-xl" href="/services">Click to Review available services!</a>
    </div>
  </section>

       
      <%} %>

      <!--Contents for Services page-->
      <% if (title == "Services")
      {%>
        
        <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container-fluid">
      <h2 class="text-center mt-0">At Your Service</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img class="img-fluid" src="../images/android.png" alt="desktop-img">
            <h3 class="h4 mb-2">Desktop Application Development</h3>
            <p class="text-muted mb-0">We make desktop application development using c#, Java, .Net environments</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img class="img-fluid" src="../images/web.png" alt="web-img">
            <h3 class="h4 mb-2">Web Development</h3>
            <p class="text-muted mb-0">If you are looing for dynamic web application development, professional or personal sites, this is a right place and time deal the business with us.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img class="img-fluid" src="../images/android2.png" alt="android-img">
            <h3 class="h4 mb-2">Android Application Development and Maintainance</h3>
            <p class="text-muted mb-0">I offer professional standard services in maintining and developing apllication on android platform !</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
             <img class="img-fluid" src="../images/ba.png" alt="ba-img">
            <h3 class="h4 mb-2">Business and Quality Experties</h3>
            <p class="text-muted mb-0">I offer professional experties in software business analysis and software quality consultation in the production environments. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

      <%} %>

      <!--Contents for Services page-->
      <% if (title == "Contact")
      {%>
      
        
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
         <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        
    </div>
    <div class="col-md-4">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title"> Please complete and submit quick contact form</h3>
          </div>
          <div class="card-body">

          <form action="" class="form" method="POST">
            <div class="form-group">
              <label for="LastNameTextField"> Last Name: </label>
              <input 
                type="text"
                class="form-control"
                id="LastNameTextField"
                placeholder="Enter last name"
                name="lastName"
                required
                />
            </div>
            <div class="form-group">
            <label for="FirstNameTextField"> First Name: </label>
            <input
                type="text"
                class="form-control"
                id="FirstNameTextField"
                placeholder="Enter first name"
                name="firstName"
                required
                />
            </div>
          <div class="form-group">
          <label for="ContactNumberTextField"> Contact Number </label>
            <input
              type="text"
              class="form-control"
              id="ContactNumberTextField"
              placeholder="Enter contact number"
              name="contactNumber"
              required
              />
          </div>
        <div class="form-group">
          <label for="EmailAddressTextField"> Email Address </label>
          <input
            type="text"
            class="form-control"
            id="EmailAddressTextField"
            placeholder="Enter valid email"
            name="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="MessageTextField"> Message </label>
          <input
            type="text"
            class="form-control"
            id="MessageTextField"
            placeholder="Enter your message"
            name="message"
            required
          />
        </div>
        <button type="buttonSubmit" class="btn btn-secondary btn-lg btn-block"><i class="fas fa-edit"></i>submit</button> 
        </form>
      </div>
        <div class="card-footer">
           Thank you for completing contact form!!    
       </div>  
      </div>
    </div> 
  </div>
</div>
  <%} %>

    
  
<% include ./partials/footer.ejs %>