<% include ./partials/header.ejs %>
  
  <!--<h1 class="display-4">Welcome to <%= title %> </h1> -->

  <!--Contents for Landing page/home page-->
      
  <% if (title == "Home"){%>    
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Welcome to Bishnu's Portfolio</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">My primary aim is to become an innovative Java developer. My mission is to create a standard desktop application so as to servicing dynamic users into a single plateform</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/about">Find Out More About Me</a>
        </div>
      </div>
    </div>
  </header>
<%} %>
  <!--Contents for About page-->

<% if (title == "About Me")
      {%>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="customDiv">
          <h3>Perosnal Information</h3><hr>
          <p>Name : Bishnu Khanal</p>
          <p>Address : # 1705 - 283 Pharmacy Avenue </p>
          <p>Toronto, ON M1L3G1 </p>
          <p>Contact : </p>
          <p>Phone: (647) 760-1545, Email: bkhanal837@gmail.com</p>
          <p>Phone: (647) 760-1545, Email: bkhanal837@gmail.com</p>
          <p>Phone: (647) 760-1545, Email: bkhanal837@gmail.com</p>
          
          </div> 
      </div>
      <div class="col-md-4">
        <div class="customDiv"><img src="../images/khanalBishnu.jpg " alt="my photo " height="400px"></div>
      </div>
    </div>
  </div>

        <section class="bg-default" id="about">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">We've got what you need!</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Gained hands-on-experience working for an year for I+IT Cluster, Ontario Ministry of Children, Community and Social Services, as a Programmer Analyst as a co-op student.
              
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
              </div>
            </div>
          </div>
        </section>



       </div>
        
      <%} %>

      <!--Contents for Projects page-->
      <% if (title == "Projects")
      {%>
        <div class="jumbotron">
        
        
        
        
        <h1>This is projects page </h1>

        
        </div>
       
      <%} %>

      <!--Contents for Services page-->
      <% if (title == "Services")
      {%>
        
        <div class="jumbotron">
        
        
        
        
        <h1>This is Services page </h1>
        
        
        </div>
        

      <%} %>

      <!--Contents for Services page-->
      <% if (title == "Contact")
      {%>
        <div class="jumbotron">
        
        
        
        
          <h1>This is contact page </h1>
        
        
        </div>
        

      <%} %>

    
  </div>
<% include ./partials/footer.ejs %>